header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

header img {
  height: 3rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-weight: bold;
}

header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  gap: 2rem;
}

header nav a {
  text-decoration: none;
  color: #000;
}

header nav a:hover {
  color: rgb(233, 195, 60);
}
