:root {
  --yellow: #ebb40f;
  --green: #075a50;
  --grey-150: #d1d1d1;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Roboto', 'Ubuntu', -apple-system, BlinkMacSystemFont;
  font-size: 1rem;
  background-color: #fafafa;
}

h1,
h2,
h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  margin: 0;
}

a {
  cursor: pointer;
}

p {
  line-height: 1.4;
}

button,
button:hover,
input[type='submit'] {
  border: 0;
  cursor: pointer;
  transition: background 0.1s linear;
}

img {
  max-width: 100%;
  display: block;
  border: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-grow: 1;
  padding: 0 2rem;
}
