.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modalContent {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  position: relative;
  width: min(30rem, 100% - 1rem);
}

.closeButton {
  background-color: transparent;
  border: none;
  color: #999;

  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  width: 3rem;
  height: 3rem;
}

.closeButton:hover {
  color: #666;
}
